### Definição de DataFrame: É um objeto que contém dados em formata tabulas. Ou seja, é como se fosse uma tabela do Excel, que é possivel adicionar linhas e colunas!

In [1]:
import pandas as pd

### Criando DatFrame

In [2]:
df1 = pd.DataFrame ()

In [3]:
df1

Empty DataFrame
Columns: []
Index: []

In [5]:
type(df1)

pandas.core.frame.DataFrame

In [17]:
# Olha só como foi importante aprender sobre dicionários!
dict1 = {'identificação': {1, 2, 3, 4, 5},
         'nome' : ['Caio', 'Rodrigo', 'Rafael', 'Mariane', 'Nathane']}

In [21]:
dict1

{'identificação': {1, 2, 3, 4, 5},
 'nome': ['Caio', 'Rodrigo', 'Rafael', 'Mariane', 'Nathane']}

In [22]:
dict1 = {'identificação': [1, 2, 3, 4, 5],
         'nome': ['Caio', 'Rodrigo', 'Rafael', 'Mariane', 'Nathane']}

df2 = pd.DataFrame(data=dict1)
print(df2)

   identificação     nome
0              1     Caio
1              2  Rodrigo
2              3   Rafael
3              4  Mariane
4              5  Nathane

In [24]:
df3 = pd.DataFrame(data=dict1, index = [29, 1, 0, 2222, 88])

In [25]:
df3

      identificação     nome
29                1     Caio
1                 2  Rodrigo
0                 3   Rafael
2222              4  Mariane
88                5  Nathane

In [26]:
serie1 = pd.Series([1, 2, 3])

In [27]:
serie1

0    1
1    2
2    3
dtype: int64

In [28]:
type(serie1)

pandas.core.series.Series

In [35]:
serie2 = pd.Series(['a', 'b', 'c'])
serie2

0    a
1    b
2    c
dtype: object

In [33]:
df4 = pd.DataFrame({'coluna1': serie1,
                    'coluna2': serie2})

In [34]:
df4

   coluna1 coluna2
0        1       a
1        2       b
2        3       c

In [36]:
import numpy as np

In [38]:
array1 = np.array([[1, 2, 3], 
                  ['São Paulo', 'Rio de Janeiro', ' Campinas'], 
                  ['SP', 'RJ', 'SP']])

In [39]:
array1

array([['1', '2', '3'],
       ['São Paulo', 'Rio de Janeiro', ' Campinas'],
       ['SP', 'RJ', 'SP']], dtype='<U14')

In [40]:
type(array1)

numpy.ndarray

In [43]:
df5 = pd.DataFrame(data = array1, 
                   index = ['linha1', 'linha2', 'linha3'], 
                   columns = ['identificação' , 'cidade', 'estado'])

In [44]:
df5

       identificação          cidade     estado
linha1             1               2          3
linha2     São Paulo  Rio de Janeiro   Campinas
linha3            SP              RJ         SP

In [45]:
df5 = pd.DataFrame(data = array1.transpose(), 
                   index = ['linha1', 'linha2', 'linha3'], 
                   columns = ['identificação' , 'cidade', 'estado'])

In [46]:
df5

       identificação          cidade estado
linha1             1       São Paulo     SP
linha2             2  Rio de Janeiro     RJ
linha3             3        Campinas     SP

In [47]:
matriz1 = np.matrix([[1, 2, 3], 
                     ['São Paulo', 'Rio de Janeiro', ' Campinas'], 
                     ['SP', 'RJ', 'SP']])

In [49]:
type(matriz1)

numpy.matrix

In [50]:
df6 = pd.DataFrame(data = matriz1.transpose(), 
                   index = ['linha1', 'linha2', 'linha3'], 
                   columns = ['identificação' , 'cidade', 'estado'])

In [51]:
df6

       identificação          cidade estado
linha1             1       São Paulo     SP
linha2             2  Rio de Janeiro     RJ
linha3             3        Campinas     SP